body {
  font-family: Arsenal;
  color: #21360d;
}

h1 {
  margin:20px;
}

div {
  background-color: white;
  padding:30px;
  border-radius:10px;
  }

  button {
    background-color:#C0C0C0;
    color:#21360d;
    border-color:#C0C0C0;
    border-radius: 5px;
    border:none;
    width: 100px;
    length: 100px;
    margin:
  }
