body {
  background-color:#c2c6b3;
  font-family: Arsenal;
  color: 21360d;
}

h1 {
  margin:20px;
}

div {
  background-color: white;
  padding:30px;
  border-radius:10px;
  }

  button {
    background-color:#d0b712;
    color:#21360d;
    border-color:#d0b712;
    border-radius: 5px;
    border:none;
    width: 100px;
    length: 100px;
    margin:
  }
